$dark-bg: #383838;
$light-font: #ccc;

main {
  padding: 60px;
  hr { margin: 60px 0; }
  section { overflow: hidden;
    &.dark{
      background: $dark-bg;
      color: $light-font;
    }
  }

  img {
    @extend .img-circle;
    @extend .img-responsive;

    &.pull-left {  margin-right: 40px;  }
    &.pull-right {  margin-left: 40px;  }
  }

  h2 {
    font-size: 50px;
    span { @extend .text-muted; }
  }

  h3 { font-size: 25px; }

  h2, h3 .subheading{ @extend .text-muted; display: block }

  @media(max-width:1200px) {
    hr { margin: 50px 0; }
    h2 { font-size: 35px; }

    img {
      &.pull-left { margin-right: 20px; }
      &.pull-right { margin-left: 20px; }
    }
  }

  @media(max-width:991px) {
    hr { margin: 40px 0; }
    h2 { font-size: 30px; }

    img {
      max-width: 50%;
      &.pull-left { margin-right: 10px; }
      &.pull-right { margin-left: 10px; }
    }
  }

  @media(max-width:768px) {
    hr { margin: 40px 0; }
    h2 { font-size: 25px; }
  }

  @media(max-width:668px) {
    hr { margin: 30px 0; }
  }

  @media(max-width:375px) {
    hr { margin: 10px 0; }

    img {
      max-width: 50%;

      &.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
      }

      &.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
      }
    }
  }
}
