$dark-bg: #132A49;
$light-font: #eee;

$heading: #132A49;
$sub-heading: #2E8481;

body{ 
  font-family: 'Poppins', sans-serif; 
  font-size: 18px;
}

.dark{
  background: $dark-bg;
  color: $light-font;
  a { color: #B0BFC8 }
}

.main-content {
  padding-bottom: 40px;
  p{ text-align: justify;}
}

main {
  padding: 60px;
  hr { margin: 60px 0; }
  section { overflow: hidden; }

  text-align: justify;
  img.article-thumbnail {width: 100%}
  img.article-image {
    @extend .img-circle;
    @extend .img-responsive;

    display: block; padding: 20px;
    max-width:40%;

    &.pull-left {  margin-right: 40px;  }
    &.pull-right {  margin-left: 40px;  }
  }

  h2 {
    font-size: 50px;
    color: $heading;
    span { @extend .text-muted; }
  }

  h3 { font-size: 25px; color: $heading; margin-top: 0px; }

  h2, h3 {
    .subheading{ 
      @extend .text-muted; 
      display: block;
      margin-top: 10px;
      margin-bottom: 15px;
      color: $sub-heading; 
    }
  }


  @media(max-width:1200px) {
    hr { margin: 50px 0; }
    h2 { font-size: 35px; }
    h3 { font-size: 30px; }

    img.article-image {
      &.pull-left { margin-right: 20px; }
      &.pull-right { margin-left: 20px; }
    }
  }

  @media(max-width:991px) {
    hr { margin: 40px 0; }
    h2 { font-size: 30px; }
    h3 { font-size: 25px; }

    img.article-image {
      max-width: 50%;
      &.pull-left { margin-right: 10px; }
      &.pull-right { margin-left: 10px; }
    }
  }

  @media(max-width:768px) {
    hr { margin: 40px 0; }
    h2 { font-size: 25px; }
    h3 { font-size: 20px; }
  }

  @media(max-width:668px) {
    hr { margin: 30px 0; }
    img.article-image {
      width: 100%; max-width: 100%;
      margin: 0 auto;
      &.pull-right, &.pull-left { float: none !important; }
    }
  }

  @media(max-width:375px) {
    hr { margin: 10px 0; }
    img.article-image {
      width: 100%; max-width: 100%;
      margin: 0 auto;
      &.pull-right, &.pull-left { float: none !important; }
    }
  }
}
