---
layout: default
heading: SWIM Solutions
subheading: Solutions for Water Integrity and Management
---

<main>
  {% for element in site.elements %}
    <section class='{{ element.cls }}'>
      {%if element.image %}
      <img class='article-image {% cycle 'pull-right', 'pull-left' %}' src='{{ element.image }}'>
      {% endif %}

      {% if element.link %}
      <h2 id='{{ element.link }}'>
        {{ element.heading }}
        <span class="subheading">{{ element.subheading }}</span>
      </h2>

      {% else %}
      <h3>
        {{ element.heading }}
        <span class="subheading">{{ element.subheading }}</span>
      </h3>
      {% endif %}

      <div class='lead'>{{ element.content }}</div>
    </section>
    {%if element.header_only != true %}
    <hr>
    {% endif %}

  {% endfor %}

</main>