<nav role='navigation'>
  <div class='container'>

    <div class='navbar-header'>
      <button type='button' data-toggle='collapse' data-target='#menu'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='/'>
        <img src='assets/images/logo-white.svg' class="navbar-logo">
        {{ site.sitename }}
      </a>
    </div>

    <div id='menu'>
      <ul>
        {% for item in site.data.menu %}
          {% if page.name contains item.link %}
            <li class="active">
              <a>{{ item.text }}</a>
            </li>
          {% else %}
            <li>
              <a href='/{{ item.link }}'>{{ item.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>


    </div>
  </div>
</nav>